extends layout

block content
  form#quoteAddForm.quoteAddForm.hidden
    textarea#quoteAddText(placeholder="Write quote")
    button#quoteAddButton Add quote
    
  div#quotes
  script loadQuotes('#quotes')
