extends layout

block content

  div.quote
    p.text.
      This is quote text. It is very interesting quote. I hope you like it.
      Lalala... 
    div.controls
      a(href="#").rateUp +
      span.rating 100
      a(href="#").rateDown –
      p.info
        span.quote_date 27.10.14
        a(href="#").quote_id #4524

  div.quote
    p.text.
      Пушкин А.С:
      Духовной жаждою томим,
      В пустыне мрачной я влачился,
      И шестикрылый серафим
      На перепутье мне явился.
      Перстами легкими как сон
      Моих зениц коснулся он:
      Отверзлись вещие зеницы,
      Как у испуганной орлицы.
      Моих ушей коснулся он,
      И их наполнил шум и звон:
      И внял я неба содроганье,
      И горний ангелов полет,
      И гад морских подводный ход,
      И дольней лозы прозябанье.
    div.controls
      a(href="#").rateUp +
      span.rating 100
      a(href="#").rateDown –
      p.info
        span.quote_date 26.10.14
        a(href="#").quote_id #4523
