doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset-2.0.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery.min.js")
    script(type="text/javascript" src="/javascripts/angular.min.js")
    script(type="text/javascript" src="/javascripts/actions.js")
  body(ng-app="" ng-init="" ng-controller="pageController")
    div.header
      div.header-content
        div.logo 
         a(href="/" title="/bin/tee") /bin/tee 
        ul.menu
          li: a(href="#" title="Write your" ng-click="toggleWriteQuoteForm()")#writeNew.linkWriteNew.fa.fa-pencil
          li: a(href="/" title="All").linkAll.fa.fa-asterisk
          li: a(href="/top" title="Top").linkTop.fa.fa-star
    div.centered.content#content
      form(ng-submit="submit()"  ng-controller="quoteSubmitController")#quoteAddForm.quoteAddForm.hidden
        textarea(placeholder="Write quote" name="text" ng-model="text")#quoteAddText
        input(type="submit" value="Add quote")#quoteAddButton
      block content
      
