doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset-2.0.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="javascripts/jquery.min.js")
    script(type="text/javascript" src="javascripts/actions.js")
  body
    div.header
      i.fa.fa-pencil
      i.fa.fa-asterisk
      i.fa.fa-star
    div.content
      block content
      
