doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset-2.0.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery.min.js")
    script(type="text/javascript" src="/javascripts/actions.js")
    script(type="text/javascript" src="/javascripts/angular.min.js")
  body
    div.header
      div.header-content
        div.logo 
         a(href="/" title="/bin/tee") /bin/tee 
        ul.menu
          li: a(href="/add" title="Write your")#writeNew.linkWriteNew.fa.fa-pencil
          li: a(href="/" title="All").linkAll.fa.fa-asterisk
          li: a(href="/top" title="Top").linkTop.fa.fa-star
    div.centered.content#content
      form#quoteAddForm.quoteAddForm.hidden
        textarea#quoteAddText(placeholder="Write quote")
        button#quoteAddButton Add quote
      block content
      
