doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset-2.0.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="javascripts/jquery.min.js")
    script(type="text/javascript" src="javascripts/actions.js")
  body
    div.header
      div.centered.menu
        ul
          li: a(href="#").fa.fa-pencil
          li: a(href="#").fa.fa-asterisk
          li: a(href="#").fa.fa-star
    div.centered.content
      block content
      
