body{
  font-family: "HelveticaNeueCyr-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  color: #444;
  font-size: 11pt;

/*  background: url(/images/bg.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
*/  

  background-color: #fcfcfc;
}

.header{
  position: relative;
  top: 0px;
  width: 100%;
  height: 50px;
  margin: auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background: #333;  
}

.content{
  margin-top: 50px;
  display: block;
  width: 700px;
  margin: auto;
  padding: 0px;
  padding-top: 25px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.content,
.quote{
  background: #fff;
}

.quote:hover{
  background: #fcfcfc;
}

.quote{
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.quote .controls{
  width: 100%;
  margin: 0px;
}

.quote .controls,
.quote .controls a{
  color: #666;
  text-decoration: none;
}

.quote .controls a:hover{
  color: #0d0;
}

.quote .info{
  float: right;
}

.quote .quote_date{
  padding-right: 20px;
}

.quote .rating{
  padding: 10px;
}

.rateUp,
.rateDown{
  font-weight: bold;
}

.quote .text{
  width: 100%;
  margin: 0px;
  padding-bottom: 10px;
}
