body{
  font-family: "HelveticaNeueCyr-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  font-weight: 300;
  color: #444;
  font-size: 11pt;

/*  background: url(/images/bg.png) no-repeat top center fixed;*/
  background-color: #fcfcfc;
}

a,
button{
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
}

button, 
textarea,
input{
  border: 1px solid #aaa;
  resize: none;
}

textarea:active,
textarea:focus{
  outline: 0;
}

button{
  background: #0cf;
  color: #fff;
  padding: 5px 20px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover{
  color: #000;
  background: #ff0;
}

.content a{
  color: #0cf;  /*00aabb / #00ddff */
  outline: 0;
}

.header{
  position: relative;
  top: 0px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  background: #222;
  font-size: 25px;
}

.logo{
  float: left;
  padding-top: 10px;
}

.logo,
.logo a{
  color: #ddd;
  font-weight: bold;
}

.header .menu{
  text-align: right;
}

.menu li{
  display: inline-block;
  border-top: none;
  border-bottom: none;
}

.menu a{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ddd;
  outline: 0;
}

.menu a:hover{
  color: #fff;
  background: #333;
}

.header-content{
  margin: auto;
  width: 680px;
}

.content{
  margin: auto;
  width: 700px;
  padding: 0px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.content,
.quote{
  background: #fff;
}

.quote:hover{
  background: #fcfcfc;
}

.quote{
  margin: 0px;
  padding: 10px;
  border-bottom: 1px solid #eee;  
  -webkit-transition: all 200ms ease-out;
   -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
     -o-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
}

.quote .controls{
  width: 100%;
  margin: 0px;
}

.quote .controls a{
  text-decoration: none;
  color: #0cf;
}

.quote .controls a:hover{
  color: #ff0;
}

.quote .info{
  float: right;
}

.quote .quote_date{ //TODO: rename this 
  /*padding-right: 0px;*/
}

.quote .rating{
  display: inline-block;
  text-align: center;
  width: 40px;
}

.quote .voteUp,
.quote .voteDown{
  font-weight: bold;
}

.quote .text{
  width: 100%;
  margin: 0px;
  padding-bottom: 10px;
  color: #222;
}

.quote a.quote_id{
  display: inline-block;
  width: 50px;
  text-align: right;
}

.quote:first-child{
  padding-top: 25px;
}

.quoteAddForm{
  text-align: center;
  height: 300px;
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
   overflow: hidden;
}

.quoteAddForm.hidden{
  height: 0px;
}

.quoteAddForm textarea{
  margin: 20px 0;
  width: 90%;
  height: 200px;
  font-size: 1.2em;
  resize: none;
}

.messageWindow{
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0;
  width: 700px;
  height: 400px;
  margin: auto;
  background: #222;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
}

.messageWindow > .messageTitle{
  padding-top: 130px;
  font-size: 2em;
}

.messageWindow > .messageText{
  padding-top: 10px;
  color: #0cf;
  font-size: 3em;
}

.messageWindow .menu{
  margin-top: 20px;
  font-size: 2em;
}

.quote-comments-button{
  padding: 0px 210px;
  margin: 0px 10px;
  text-align: center;
}

.quote-comments-button:before{
  color: #555;
}

.comments{
  padding-top: 20px;
  margin-left: 5%;
  -webkit-transition: all 200ms ease-out;
     -moz-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;
       -o-transition: all 200ms ease-out;
          transition: all 200ms ease-out;
}

.comments.hidden{
  height: 0px;
  padding-top: 0px;
  overflow: hidden;
}

.quote.opened-quote{
  box-shadow: 0px 2px 10px 5px #666;
  margin-bottom: 7px;
  margin-top: 7px;
  background: #fff;
}

.quote.opened-quote .text,
.quote.opened-quote a,
.quote.opened-quote .quote-comments-button:before{
/*  color: #fff;*/
}

.quote-comments{
  height: 200px;
}

.comment{
  width: 90%;
  margin-bottom: 10px;
}

.quote.opened-quote textarea,
.quote.opened-quote button{
  width: 90%;
  margin: 0px;
  background: #fff;
  outline: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.quote.opened-quote textarea{
  margin-top: 20px; 
  height: 70px;
  border-bottom: 0px;
}

.quote.opened-quote button{
  margin-top: -5px;
  border-top: none;
  color: #0cf;
  text-align: right;
}
